@charset "UTF-8";

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    align-items: center;
    height: 6vh;
    margin-bottom: 3px;
}

main{
    display: grid;
    grid-template-columns: 310px 1fr 350px;
    height: 77vh;
    
}

footer{
    display: grid;
    height: 13vh;
    margin-top: 10px;
}

.header-logoCircle{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px;
    padding-left: 10px;
}

.header-homeCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    transition: all 0.25s;
}

.header-homeCircle img{
    width: 27px;
    height: 27px;
}

.header-homeCircle:hover{
    transform: scale(1.05);
    background-color: rgb(46, 46, 46);
}

.header-searchCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all, 0.25s;
}

.header-menuBox{
    background-color: rgb(0, 0, 0);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-searchBox{
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
    transition: all, 0.25s;
}

.header-searchBox:focus-within{
    outline: 2px solid white;
}

.header-searchBox:hover
{
    background-color: rgb(46, 46, 46);
    .header-searchCircle{
        background-color: rgb(46, 46, 46);
    }
    .header-albumCircle{
        background-color: rgb(46, 46, 46);
    }
    .header-inputSearch{
        background-color: rgb(46, 46, 46);
    }
}

.header-inputSearch:hover{
    background-color: rgb(46, 46, 46);
}

.header-inputSearch{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    height: 43px;
    width: 385px;
    border: none;
    outline: none;
}

.header-albumCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left{
    margin-right: auto;
    display: flex;
    gap: 20px;
    width: 600px;
}

.header-right{
    margin-left: auto;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 30px;
    width: 500px;
    height: 45px;
}

.header-premium{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 32px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    transition: all;
}

.header-premium:hover{
    transform: scale(1.05);
    background-color: rgb(215, 215, 215);
}

.header-instalar{
    background-color: rgb(0, 0, 0);
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;;
    width: 160px;
    transition: all;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-instalar:hover{
    transform: scale(1.05);
    .inst{
        color: rgb(255, 255, 255);
    }
}

.header-inst{
    color: rgb(205, 205, 205);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.header-instimg{
    width: 16px;
    height: 16px;
}

.header-outrosIcones{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 45px;
}

.header-conta{
    background-color: rgb(53, 183, 6);
    color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
}



.coluna{
    overflow-y: hidden;
    height: 100%;
    padding: 5px;
}

.leftside{
    background-color: rgb(0, 0, 0);
}

.middle{
    background-color: rgb(0, 255, 0);
}
        
.rightside{
    background-color: rgb(0, 0, 0);
}

.corpocoluna{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow-y: auto;
}

.cesquerda{
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
}

.leftside-biblioteca{
    display: flex;
    align-items: center;
    background-color: rgb(21, 21, 21);
    height: 40px;
    margin-top: 15px;
}

.biblioteca-esquerda{
    margin-left: 5px;
}


.biblioteca-direita{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}


.biblioteca-suabiblioteca{
    font-size: 18px;
    margin-left: 10px;
}

.biblioteca-criar{
    font-size: 25px;
}

.biblioteca-circulocriar{
    background-color: rgb(33, 33, 33);
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biblioteca-mostrar{
    height: 15px;
    width: 15px;
    margin-right: 28px;
}


.leftside-buttonsartplay{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}

.buttonsartplay-play, .buttonsartplay-art{
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 77px;
    height: 25px;
    border-radius: 15px;
    padding-bottom: 5px;
}


.leftside-buscarecente{
    display: flex;
    align-items: center;
    height: 39px;
    background-color: rgb(21, 21, 21);
}

.buscarecente-busca{
    margin-top: -10px;
    margin-left: 20px;
}

.buscarecente-busca img{
    width: 15px;
    height: 15px;
}

.buscarecente-recente{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -13px;
    margin-right: 24px;
    gap: 9px;
}

.buscarecente-recente img{
    width: 18px;
    height: 18px;
}

.leftside-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lista-playlist{
    display: flex;
    align-items: center;
    height: 68px;
    width: 96%;
    border-radius: 6px;
    gap: 11px;
}
.lista-playlist:hover{
    background-color: rgb(41, 41, 41);
    .playlist-img img{
        opacity: 50%;
    }
}

.playlist-img img{
    width: 50px;
    height: 52px;
    border-radius: 6px;
    margin-left: 8px;
}

.playlist-likeicon{
    background: linear-gradient(318deg, rgba(220, 249, 255, 1), rgba(35, 213, 253, 1), rgba(31, 68, 193, 1));

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 52px;
    border-radius: 6px;
    margin-left: 8px;
}

.playlist-likeicon img{
    height: 18px;
    width: 18px;
    margin-left: 0px;
}

.playlist-p{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.playlist-curtidas{
    font-size: 17px;
    margin-top: -6px;
}

.playlist-quantidade{
    
    font-size: 16px;
}



.lista-artista{
    display: flex;
    align-items: center;
    height: 68px;
    width: 96%;
    border-radius: 6px;
    gap: 11px;
}
.lista-artista:hover{
    background-color: rgb(41, 41, 41);
    .artista-img img{
        opacity: 50%;
    }
}

.artista-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-left: 8px;
}

.artista-p{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.artista-curtidas{
    font-size: 17px;
    margin-top: -6px;
}

.artista-quantidade{
    font-size: 16px;
}





.cdireita{
    background-color: rgb(21, 21, 21);
    
}

.rightside-titulo{
    margin-left: 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}


.rightside-img{
    width: 90%;
    margin-left: 15px;
    border-radius: 12px;
}



















.playerfield{
    background-color: rgb(133, 13, 245);
    overflow-y: auto;
    height: 100%;
    padding: 5px;
    
}

.corpoplayer{
    background-color: rgb(15, 15, 15);
    height: 100%;
    width: 100%;
    border-radius: 12px;  
}

