@charset "UTF-8";

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    align-items: center;
    
}

main{
    display: grid;
    grid-template-columns: 310px 1fr 350px;
    height: 77vh;
    
}

footer{
    display: grid;
    height: 13vh;
    margin-top: 10px;
}

.logoCircle{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px;
    padding-left: 10px;
}

.homeCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
}

.homeCircle:hover{
    transform: scale(1.05);
    background-color: rgb(46, 46, 46);
}

.searchCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all, 0.25s;
}

.menuBox{
    background-color: rgb(0, 0, 0);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox{
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
   
    transition: all, 0.25s;
}

.searchBox:focus-within{
    outline: 2px solid white;
}

.searchBox:hover
{
    background-color: rgb(46, 46, 46);
    .searchCircle{
        background-color: rgb(46, 46, 46);
    }
    .albumCircle{
        background-color: rgb(46, 46, 46);
    }
    .inputSearch{
        background-color: rgb(46, 46, 46);
    }
}

.inputSearch:hover{
    background-color: rgb(46, 46, 46);
}

.inputSearch{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    height: 43px;
    width: 385px;
    border: none;
    outline: none;
}

.albumCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    margin-right: auto;
    display: flex;
    gap: 20px;
    /*background-color: aqua;*/
    width: 600px;
}

.right{
    margin-left: auto;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 10px;
    /*background-color: red;*/
    width: 600px;
    height: 45px;
}

.premium{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all;
}

.premium:hover{
    transform: scale(1.05);
    background-color: rgb(215, 215, 215);
}

.instalar{
    background-color: rgb(0, 0, 0);
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;;
    width: 160px;
    transition: all;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.instalar:hover{
    transform: scale(1.05);
    .inst{
        color: rgb(255, 255, 255);
    }
}

.inst{
    color: rgb(205, 205, 205);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.instimg{
    width: 16px;
    height: 16px;
}

.outrosIcones{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 45px;
}

.conta{
    background-color: rgb(53, 183, 6);
    color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
}



.coluna{
    overflow-y: auto;
    height: 100%;
    padding: 5px;
}

.leftside{
    background-color: rgb(255, 0, 0);
}

.middle{
    background-color: rgb(0, 255, 0);
}
        
.rightside{
    background-color: rgb(0, 0, 255);
}

.corpocoluna{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.cesquerda{}
.cmeio{}
.cdireita{}




.playerfield{
    background-color: rgb(133, 13, 245);
    overflow-y: auto;
    height: 100%;
    padding: 5px;
    
}

.corpoplayer{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 12px;  
}

