@charset "UTF-8";

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    align-items: center;
    /*background-color: aliceblue;*/
}

.logoCircle{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px;
    padding-left: 10px;
}

.homeCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBox{
    background-color: rgb(0, 0, 0);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox{
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.inputSearch{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 43px;
    width: 300px;
    border: none;

}

.albumCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    margin-right: auto;
    display: flex;
    gap: 20px;
    /*background-color: aqua;*/
    width: 600px;
}

.right{
    margin-left: auto;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 10px;
    /*background-color: red;*/
    width: 600px;
    height: 45px;
}

.premium{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.instalar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;;
    width: 160px;
}

.inst{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outrosIcones{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 45px;
    width: px;
}

.conta{
    background-color: rgb(53, 183, 6);
    color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}