@charset "UTF-8";

@font-face {
    font-family: 'Spotify Mix';
    src: local('Spotify Mix Regular'), local('Spotify-Mix-Regular'),
        url(fonts/SpotifyMix-Regular.woff2) format('woff2'),
        url(fonts/SpotifyMix-Regular.woff) format('woff'),
        url(fonts/SpotifyMix-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*rgb(29, 185, 84)*/

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 100vh;
    overflow: hidden;
    font-family: 'Spotify Mix', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    align-items: center;
    height: 6vh;
    padding-bottom: 3px;
}

main{
    display: grid;
    grid-template-columns: 310px 1fr 350px;
    height: 77vh;
    
}

footer{
    display: grid;
    height: 13vh;
    margin-top: 10px;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label {
  background-color: rgb(255, 255, 255); /* Cor verde estilo Spotify */
  color: rgb(0, 0, 0);
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;

    background-color: rgb(255, 255, 255, 25%);
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    
    height: 25px;
    margin-top: 18px;
}

label:hover{
    background-color: rgb(255, 255, 255, 40%);
}


.header-logoCircle{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px;
    padding-left: 10px;
}

.header-homeCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    transition: all 0.25s;
}

.header-homeCircle img{
    width: 27px;
    height: 27px;
}

.header-homeCircle:hover{
    transform: scale(1.05);
    background-color: rgb(46, 46, 46);
}

.header-searchCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all, 0.25s;
}

.header-menuBox{
    background-color: rgb(0, 0, 0);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.header-searchBox{
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 45px;
    transition: all, 0.25s;
}

.header-searchBox:focus-within{
    outline: 2px solid white;
}

.header-searchBox:hover
{
    background-color: rgb(46, 46, 46);
    .header-searchCircle{
        background-color: rgb(46, 46, 46);
    }
    .header-albumCircle{
        background-color: rgb(46, 46, 46);
    }
    .header-inputSearch{
        background-color: rgb(46, 46, 46);
    }
}

.header-inputSearch:hover{
    background-color: rgb(46, 46, 46);
}

.header-inputSearch{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    height: 43px;
    width: 385px;
    border: none;
    outline: none;
}

.header-albumCircle{
    width: 45px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left{
    margin-right: auto;
    display: flex;
    gap: 20px;
    width: 600px;
}

.header-right{
    margin-left: auto;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 30px;
    width: 500px;
    height: 45px;
}

.header-premium{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 32px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    transition: all;
}

.header-premium:hover{
    transform: scale(1.05);
    background-color: rgb(215, 215, 215);
}

.header-instalar{
    background-color: rgb(0, 0, 0);
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;;
    width: 160px;
    transition: all;
    font-size: 14px;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.header-instalar:hover{
    transform: scale(1.05);
    .inst{
        color: rgb(255, 255, 255);
    }
}

.header-inst{
    color: rgb(205, 205, 205);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.header-instimg{
    width: 16px;
    height: 16px;
}

.header-outrosIcones{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 45px;
}

.header-conta{
    background-color: rgb(53, 183, 6);
    color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5px;
}



.coluna{
    height: 100%;
    padding: 5px;
    overflow: hidden;
    
}


.leftside{
    background-color: rgb(0, 0, 0);
}

.middle{
    background-color: rgb(0, 0, 0);
}
        
.rightside{
    background-color: rgb(0, 0, 0);
}

.corpocoluna{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}


.cesquerda{
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
}

.leftside-biblioteca{
    display: flex;
    align-items: center;
    background-color: rgb(21, 21, 21);
    height: 40px;
    margin-top: 15px;
}

.biblioteca-esquerda{
    margin-left: 5px;
}

.biblioteca-direita{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.biblioteca-suabiblioteca{
    font-size: 18px;
    margin-left: 10px;
}

.biblioteca-criar{
    font-size: 25px;
}

.biblioteca-circulocriar{
    background-color: rgb(33, 33, 33);
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biblioteca-mostrar{
    height: 15px;
    width: 15px;
    margin-right: 28px;
}


.leftside-buttonsartplay{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}

.buttonsartplay-play, .buttonsartplay-art{
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 77px;
    height: 25px;
    border-radius: 15px;
    padding-bottom: 5px;
}


.leftside-scroll{
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.leftside-scroll::-webkit-scrollbar{
    width: 8px;
}
.leftside-scroll::-webkit-scrollbar-track{
    background: transparent;
}
.leftside-scroll::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 10px;
}
.leftside-scroll::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255, 0.3);
}

.leftside-buscarecente{
    display: flex;
    align-items: center;
    height: 39px;
    background-color: rgb(21, 21, 21);
}

.buscarecente-busca{
    margin-top: -10px;
    margin-left: 20px;
}

.buscarecente-busca img{
    width: 15px;
    height: 15px;
}

.buscarecente-recente{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -13px;
    margin-right: 24px;
    gap: 9px;
}

.buscarecente-recente img{
    width: 18px;
    height: 18px;
}

.leftside-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-playlist{
    display: flex;
    align-items: center;
    height: 68px;
    width: 96%;
    border-radius: 6px;
    gap: 11px;
}
.lista-playlist:hover{
    background-color: rgb(41, 41, 41);
    .playlist-img img{
        opacity: 50%;
    }
}

.playlist-img img{
    width: 47px;
    height: 46px;
    border-radius: 6px;
    margin-left: 8px;
}

.playlist-likeicon{
    background: linear-gradient(318deg, rgba(220, 249, 255, 1), rgb(124, 110, 220), rgb(70, 16, 220));

    display: flex;
    align-items: center;
    justify-content: center;

    width:48px;
    height: 48px;
    border-radius: 6px;
    margin-left: 8px;
}

.playlist-likeicon img{
    height:15px;
    width:15px;
    margin-left: 0px;
}

.playlist-p{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.playlist-curtidas{
    font-size: 17px;
    margin-top: -6px;
}

.playlist-quantidade{
    
    font-size: 16px;
}


.lista-artista{
    display: flex;
    align-items: center;
    height: 68px;
    width: 96%;
    border-radius: 6px;
    gap: 11px;
}
.lista-artista:hover{
    background-color: rgb(41, 41, 41);
    .artista-img img{
        opacity: 50%;
    }
}

.artista-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-left: 8px;
}

.artista-p{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.artista-curtidas{
    font-size: 17px;
    margin-top: -6px;
}

.artista-quantidade{
    font-size: 16px;
}






.cmeio{
    background-color: rgb(21, 21, 21);
    padding-left: 40px;
}

.middle-scroll{
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.middle-scroll::-webkit-scrollbar{
    width: 8px;
}
.middle-scroll::-webkit-scrollbar-track{
    background: transparent;
}
.middle-scroll::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 10px;
}
.middle-scroll::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255, 0.3);
}


.middle-buttons{
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.middle-opcoesRapidas{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    gap: 3px;
    width: 88%;
}

.opcoesRapidas-coluna{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

.opcoesRapidas{
    display: flex;
    gap: 10px;
    background-color: rgb(255, 255, 255, 10%);
    
    height: 48px;
    border-radius: 5px;
    margin-left: 6px;
    cursor: pointer;
}

.opcoesRapidas img{
    width: 48px;
    height: 48px;
    border-radius: 5px 0 0 5px;
}

.opcoesRapidas-playCircle{
    display: none;
}

.opcoesRapidas:hover{
    background-color: rgb(255, 255, 255, 20%);

    .opcoesRapidas-playCircle{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 10px;
        margin-top: 5px;
        background-color: rgb(29, 185, 84);
    }

    .opcoesRapidas-play{
        width: 16px;
        height: 16px;
        margin-left: 3px;
    }
}

.middle-opcoesPrincipais{
    
    margin-top: 35px;
    margin-left: 5px;
}

.opcoesPrincipais-titulos{
    display: flex;
    flex-direction: column;
}

.titulos-menor{
    font-size: 12px;
    margin-bottom: 0px;
    color: rgb(159, 159, 159);
}

.titulos-maior{
    font-size: 23px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.opcoesPrincipais-carrossel{
    margin-top: 5px;
}

.opcoesPrincipais-carrossel img{
    width: 155px;
    height: 155px;
}



.cdireita{
    background-color: rgb(21, 21, 21);
}

.rightside-scroll{
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

.rightside-scroll::-webkit-scrollbar{
    width: 8px;
}
.rightside-scroll::-webkit-scrollbar-track{
    background: transparent;
}
.rightside-scroll::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 10px;
}
.rightside-scroll::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255, 0.3);
}



.rightside-titulo{
    margin-left: 15px;
    font-size: 18px;
    height: auto;
    flex-shrink: 0;
}

.rightside-img{
    width: 92%;
    margin-left: 15px;
    border-radius: 12px;
}

.rightside-nomesOpcoes{
    display: flex;
    align-items: center;
}

.nomes-nomeMusica{
    margin-top: 12px;
    margin-left: 15px;
    font-size: 25px;
}

.nomes-autor{
    margin-left: 15px;
    color: rgb(159, 159, 159);
    margin-top: -30px;
}

.opcoes{
    margin-left: auto;
    margin-right: 10px;
}

.opcoes-circulocriar{
    background-color: rgb(33, 33, 33);
    height: 12px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcoes-criar{
    font-size: 14px;
    font-weight: bold;
}

.rightside-resumo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.resumo-parteCima{
    background: url(images/Linkin-Park.jpg) 80% / cover no-repeat;
    width: 92%;
    height: 210px;
    border-radius: 10px 10px 0 0;
}

.parteCima-sobre{
    margin-left: 17px;
    font-weight: bold;
    font-size: 18px;
}

.resumo-parteBaixo{
    background-color: rgb(41, 41, 41);
    width: 92%;
    height: 250px;
    border-radius: 0 0 10px 10px;
    
}

.parteBaixo-ouvintesDeixar{
    margin-left: 17px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.ouvintes{
    width: 140px;
    font-size: 15px;
    color: rgb(211, 211, 211);
}

.deixar-deSeguir{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(102, 102, 102);
    border-radius: 18px;
    
    height: 28px;
    width: 138px;
    margin-right: 5px;

    font-size: 13px;
    font-weight: bold;
}

.parteBaixo-descricao{
    color: rgb(211, 211, 211);
    margin-left: 17px;
    margin-right: 17px;
    font-size: 14px;
}
















.playerfield{
    background-color: rgb(133, 13, 245);
    overflow-y: auto;
    height: 100%;
    padding: 5px;
    
}

.corpoplayer{
    background-color: rgb(15, 15, 15);
    height: 100%;
    width: 100%;
    border-radius: 12px;  
}

